.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 14vh;
}

img {
  width: 14vh;
  height: auto;
  padding-bottom: 3vh;
}

.title {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  font-size: 50px;
  color: #333;
  margin-bottom: 2vh;
}