<div class="container">
    <div class="top-part">
        <div class="logo">
          <img src="./assets/images/AppLogo.webp" alt="Logo" class="logo" (click)="goToHomePage()">
        </div>
      <div class="search">
        <app-search-bar></app-search-bar>
      </div>
    </div>

    <app-date-picker
      (dateRangeChange)="applyDateRange($event)">
    </app-date-picker>

    <div *ngIf="assetData" class="asset-details">
      <h1>{{ ticker | uppercase }} Historical Prices</h1>
      <div class="card">
        <div #chart>
          <p-chart type="line" [data]="filteredAssetDataChart" [options]="chartOptions"></p-chart>
        </div>
        <p-splitButton label="Export" icon="pi pi-download" (onClick)="exportDataAsCSV()" [model]="exportItems"></p-splitButton>
        <h1>{{ ticker | uppercase }} Predicted Prices</h1>
        <div class="tabs">
          <p-tabView>
            <p-tabPanel header="Predictions">
              <p-dropdown [options]="predictionMethods" [(ngModel)]="selectedPrediction" optionLabel="label" [editable]="false" [filter]="false"></p-dropdown>
              <ng-container [ngSwitch]="selectedPrediction.value">
                <app-prophet-prediction *ngSwitchCase="'prophet'" [assetData]="assetData"></app-prophet-prediction>
                <app-lstm-prediction *ngSwitchCase="'LSTM'" [assetData]="assetData"></app-lstm-prediction>
                <app-gru-prediction *ngSwitchCase="'GRU'" [assetData]="assetData"></app-gru-prediction>
              </ng-container>
            </p-tabPanel>

            <p-tabPanel header="Technical Indicators">
              <p-dropdown [options]="technicalIndicators" [(ngModel)]="selectedIndicator" optionLabel="label" [editable]="false" [filter]="false"></p-dropdown>
              <ng-container [ngSwitch]="selectedIndicator.value">
                <app-rsi-indicator *ngSwitchCase="'RSI'"></app-rsi-indicator>
                <app-sma-indicator *ngSwitchCase="'SMA'"></app-sma-indicator>
                <app-bollinger-bands-indicator *ngSwitchCase="'Bollinger Bands'"></app-bollinger-bands-indicator>
              </ng-container>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
  